@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Codystar|Comfortaa|Permanent+Marker|Reenie+Beanie');

p, li{
	font-family: 'Reenie Beanie', serif;
	color: #FFFFFF;
}

h2, h3{
	font-family: 'Codystar', sans-serif;
	color: #FFFFFF;
	max-height: 500px;
}

.head h1{
	font-family: 'Codystar';
	font-weight: bold;
	color: #FFFFFF;
	font-size: 50px;
	position: fixed;
	text-align: left;
	bottom: 0px;
	left: 10px;
	width: 100%;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

body{
	background: url('https://img1.goodfon.com/original/1920x1080/e/f5/game-of-thrones-start-doge.jpg') no-repeat center center fixed;
	background-size: cover;
}

header, footer{
	text-align: center;
	padding: 15px 30px;
}

.main-content{
	padding: 10px 0;
	max-height: 500px;

}

header img{
	width: 50%;
	border-radius: 15px;
}

.main-content ul{
	list-style-type: none;
	padding-left: 0;
	margin: 0 auto;
	position: fixed;
	top: 20px;
	left: 10px;
}

.main-content ul li{
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

.main-content ul li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 30px;
	font-family: 'Codystar';
}

.main-content p{
	align-content: center; 
	margin: 10px 40px;
	width: 540px;
	left: 1000px;
	text-align: center;
}

.clearfix:after {
	content:"";
	display: table;
	clear:both;
}

.project{
	width: 30%;
	display: inline-block;
	margin: 1.66%;
	border-radius: 15px;
	float: left;
	background-color: #000000;
	opacity: .8;
}


.project img{
	max-width: 100%;
	opacity: 1;
}

.project p{
	width: 75%;
}

.project h2{
	text-align: center;
}

.me p{
	margin: 0 auto;
	background-color: #000000;
	opacity: .8;
}
